{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Welcome to EasyAdminBundle Demo' %}

{% block main %}
    <div class="alert alert-info">
        <p>Welcome to the EasyAdminBundle demonstration.</p>
        <p>Use the menu on the left to manage your data.</p>
    </div>
{% endblock %}